
.warp{
  width: 100%;
  min-width: 380px;
  overflow: hidden;
}

.top{
  /*position: fixed;*/
  /*top: 0;*/
  /*z-index: 999;*/
  /*width: 100%;*/
  /*height: 140px;*/
  /*padding: 20px 0;*/
  /*background: url('../../assets/bg_02.png') no-repeat center / 100% 100%;*/
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.top .title{
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-family:AvenirNext-Medium;
  font-weight:500;
  margin: 0;
}

.top .logo{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: 90px;
}

.top .logo2{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  color: #fff;
  font-family:ArialMT;
  font-weight:400;
  font-size: 14px;
}

.top .logo2 img{
  width: 22px;
  margin-right: 10px;
}

.top .img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
  min-width: 820px;
}

.top .icon{
  position: absolute;
  width: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -9px;
}

.mid{
  padding: 62px 10px;
  overflow: auto;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  box-sizing: initial;
}

.bot{
  width: 100%;
  overflow: hidden;
  height: 38px;
  background: -webkit-gradient(linear,left top,right top,from(#1F89F7),to(#053ED8));
  background: -webkit-linear-gradient(left,#1F89F7,#053ED8);
  background: -o-linear-gradient(left,#1F89F7,#053ED8);
  background: linear-gradient(90deg,#1F89F7,#053ED8);
  background-color: #1F89F7;
}

.box ul, .box li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.box ul{
  position: relative;
}

.imgBox{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #fff5f5;
  overflow: hidden;
}

.imgBox li{
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox li img{
  max-width: 100%;
  max-height: 100%;
}

.button{
  position: relative;
  height: 32px;
  border-radius: 16px;
  width: 100%;
  margin-top: 100px;
  border: 1px solid #1F89F7;
  text-align: center;
  line-height: 30px;
  font-family:Arial-BoldMT;
  font-size: 14px;
}

@media screen and (min-width: 767px) {
  .box{
    float: left;
    width: 26%;
    height: 300px;
    padding: 0 10px;
    overflow: hidden;
  }

  .rightBox{
    position: relative;
    float: left;
    width: 11%;
    height: 300px;
  }

  .right{
    position: absolute;
    margin: 50px auto;
    left: 0;
    right: 0;
    width: 38px;
    height: 28px;
    background: url('../../assets/icon/xingzhuang2.png') no-repeat center / 100% 100%;
  }

}

@media screen and (max-width: 767px) {
  .box{
    width: 100%;
    height: 300px;
    padding: 0 20px;
    overflow: hidden;
  }

  .rightBox{
    position: relative;
    width: 100%;
    height: 100px;
  }

  .right{
    transform: rotate(90deg);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 38px;
    height: 28px;
    background: url('../../assets/icon/xingzhuang2.png') no-repeat center / 100% 100%;
  }

}

